@model IEnumerable<ShopForPerts.Data.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>Passbook</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShortDes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LongDes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Manufacturer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isFavourite)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Available)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoryId)
                    </th>
                    <th>
                        <a asp-action="AddOrEdit" class="btn btn-sm btn-success">
                            <i class="fa-solid fa-plus"></i> New
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortDes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LongDes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Manufacturer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.image)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isFavourite)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Available)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryId)
                    </td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@item.id">
                            <div class="btn-group btn-group-sm">
                                <a asp-action="AddOrEdit" asp-route-id="@item.id" class="btn btn-warning">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <button type="submit" class="btn btn-danger"
                                        onclick="return confirm('Are you sure to delete this record?')">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </div>
                        </form>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
